//generic classes

//hide element
.hide{
    display: none;
}

//align text center
.text-center{
    text-align: center;
}

//align text right
.text-right{
    text-align: right;
}

//position CRUD btns
.crud_wrapper{
    display: inline-block;
    width: 50%;
}

.delete{
    width: 50%;
    display: inline-block;
    text-align: right;
}