//colors
$black: black;
$white: white;
$primary-color: red;
$grey: grey;
$hover: pink;


//font sizes
$header: 3.2rem;
$sub-header: 2.6rem;
$lead: 2.2rem;
$regular: 1.6rem;
$small: 1.4rem;


//font-family
$serif: serif;
$sans-serif: sans-serif;


//media queries - device sizes
$mobile: 400px;
$tablet: 800px;
$desktop: 1200px;