//colors
$black: #272424;
$white: #f9f9f9;
$primary-color: #B30B0B;
$grey: #989898;
$hover: #a80808;
$success: green;
$failure: crimson;


//font sizes
$header: 3.2rem;
$sub-header: 2.6rem;
$lead: 2.2rem;
$regular: 1.6rem;
$small: 1.4rem;

$desktop-header: 5.5rem;
$desktop-sub-header: 4.2rem;
$desktop-lead: 3.2rem;
$desktop-regular: 2.6rem;
$desktop-small: 2.2rem;


//font-family
$serif: 'Roboto Slab', serif;
$sans-serif: 'Open Sans', sans-serif;


//media queries - device sizes
$mobile: 440px;
$mobile-landscape: 750px;
$tablet: 800px;
$desktop: 1280px;