* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: "Roboto Slab", serif; }

a {
  cursor: pointer;
  color: black;
  text-decoration: none; }

li {
  list-style: none; }

input[type="submit"] {
  cursor: pointer;
  font-size: 1.6rem; }

input {
  border: 1px solid grey;
  box-shadow: 0 0 0;
  padding: 0.5rem; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

textarea {
  resize: none;
  height: 20rem; }

.hide {
  display: none; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.crud_wrapper {
  display: inline-block;
  width: 50%; }

.delete {
  width: 50%;
  display: inline-block;
  text-align: right; }

.nav-wrapper {
  z-index: 10;
  width: 100%;
  padding: 10px 0px;
  border-bottom: 1px solid grey;
  position: fixed; }
  .nav-wrapper .dropdown {
    position: relative;
    top: 10px;
    /*to accommodate 10px bottom padding of nav-wrapper*/
    width: 100%;
    display: none;
    text-align: center; }
    .nav-wrapper .dropdown li, .nav-wrapper .dropdown a {
      display: block;
      border-top: 1px solid black;
      color: white;
      font-size: 2.2rem;
      font-family: "Open Sans", sans-serif; }
      .nav-wrapper .dropdown li:hover, .nav-wrapper .dropdown a:hover {
        background-color: pink; }
    .nav-wrapper .dropdown a {
      padding: 5px; }
  .nav-wrapper .menu-icon {
    margin-left: 1rem;
    width: 3.5rem; }
    .nav-wrapper .menu-icon a {
      display: block; }
    .nav-wrapper .menu-icon div {
      width: inherit;
      height: 0.3rem;
      background-color: white;
      margin: 0.6rem 0; }
  .nav-wrapper .admin-dropdown .admin-dropdown-menu {
    position: absolute; }
    .nav-wrapper .admin-dropdown .admin-dropdown-menu a {
      display: block; }

@media screen and (max-width: 440px) {
  .nav-wrapper {
    background-color: red; }
    .nav-wrapper .desktop {
      display: none; }
    .nav-wrapper:hover .dropdown {
      display: block; }
    .nav-wrapper .admin-dropdown .admin-dropdown-menu {
      background-color: grey;
      width: 100%; }
      .nav-wrapper .admin-dropdown .admin-dropdown-menu a:hover {
        background-color: black; } }
@media screen and (min-width: 1280px) {
  .nav-wrapper {
    background-color: white;
    padding: 2rem 0rem; }
    .nav-wrapper .mobile {
      display: none; }
    .nav-wrapper li {
      display: inline-block; }
    .nav-wrapper .nav {
      width: 95%;
      margin: auto;
      display: flex; }
    .nav-wrapper .nav-brand a {
      color: red;
      font-size: 2.6rem;
      font-family: "Open Sans", sans-serif; }
      .nav-wrapper .nav-brand a:hover {
        opacity: 0.75; }
    .nav-wrapper .nav-links {
      flex: 3; }
      .nav-wrapper .nav-links a {
        padding: 1rem;
        margin: 0 2rem;
        font-size: 2.2rem; }
        .nav-wrapper .nav-links a:hover {
          color: grey; }
    .nav-wrapper .admin-dropdown:hover .admin-dropdown-menu {
      display: block; }
    .nav-wrapper .admin-dropdown .admin-dropdown-menu {
      background-color: white;
      border: 1px solid grey;
      display: none; }
      .nav-wrapper .admin-dropdown .admin-dropdown-menu a {
        padding: 5px; } }
.btn {
  text-align: center;
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  color: white; }

.btn-delete {
  background-color: crimson; }

.btn-create {
  background-color: green; }

.btn-edit {
  background-color: grey; }

@media screen and (min-width: 1280px) {
  .btn {
    width: 20rem;
    padding-top: 1rem;
    padding-bottom: 1rem; } }
.form-group {
  display: flex;
  margin: 1rem; }
  .form-group input[type="submit"] {
    width: 100%;
    background-color: red;
    color: white;
    font-weight: 900; }

@media screen and (max-width: 440px) {
  .form-group label, .form-group input, .form-group textarea {
    font-size: 1.4rem;
    flex: 3; }
  .form-group label {
    flex: 1; }
  .form-group input[type="submit"] {
    font-size: 1.6rem;
    padding: 1rem; } }
@media screen and (min-width: 1280px) {
  .form-group label, .form-group input, .form-group textarea {
    font-size: 2.2rem;
    flex: 5; }
  .form-group label {
    flex: 2; }
  .form-group input[type="submit"] {
    font-size: 2.6rem;
    padding: 2rem; }
  .form-group input[type="file"] {
    flex: 1; } }
.feedback-modal {
  z-index: 10;
  position: absolute;
  top: 5rem;
  right: 5rem;
  border: 1px solid black;
  background-color: white;
  color: black;
  box-shadow: 2px 2px 5px grey;
  opacity: 0.75;
  transition: opacity 0.2s; }
  .feedback-modal .close {
    background-color: red;
    padding: 0.3rem 1rem;
    border-bottom: 2px solid grey; }
    .feedback-modal .close a {
      color: white; }
  .feedback-modal .feedback-content {
    padding: 2rem 4rem;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.1rem; }
  .feedback-modal:hover {
    opacity: 1; }

.fade-out {
  opacity: 0;
  transition: opacity 7s; }

.crud-wrapper {
  width: 85%;
  margin: auto;
  margin-bottom: 3rem; }
  .crud-wrapper header {
    margin-bottom: 2rem; }
  .crud-wrapper input[type="submit"] {
    margin-top: 2rem; }
  .crud-wrapper .form-wrapper h2 {
    margin-bottom: 1rem; }

@media screen and (max-width: 440px) {
  .crud-wrapper {
    padding-top: 9rem; }
    .crud-wrapper header h1 {
      font-size: 2.6rem; }
    .crud-wrapper .form-wrapper h2 {
      font-size: 2.2rem; } }
@media screen and (min-width: 1280px) {
  .crud-wrapper {
    padding-top: 12rem; }
    .crud-wrapper header h1 {
      font-size: 4.2rem; }
    .crud-wrapper .form-wrapper h2 {
      font-size: 3.2rem; } }
#error_page_wrapper {
  width: 85%;
  margin: auto; }
  #error_page_wrapper header h1 {
    color: crimson; }
  #error_page_wrapper .error-content {
    color: grey; }

@media screen and (max-width: 440px) {
  #error_page_wrapper {
    padding-top: 8rem; }
    #error_page_wrapper header h1 {
      font-size: 3.2rem; }
    #error_page_wrapper .error-content {
      font-size: 2.2rem; } }
@media screen and (min-width: 1280px) {
  #error_page_wrapper {
    padding-top: 11rem; }
    #error_page_wrapper header h1 {
      font-size: 5.5rem; }
    #error_page_wrapper .error-content {
      font-size: 3.2rem; } }
#index-wrapper header {
  background-image: url("../../img/homepage/home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  border-bottom: 2px solid grey;
  background-attachment: fixed; }
  #index-wrapper header h1 {
    font-family: "Open Sans", sans-serif;
    color: red;
    font-weight: normal; }
  #index-wrapper header .tag-line {
    display: block;
    border: 2px solid grey;
    border-radius: 50px;
    background-color: white;
    width: 95%;
    margin: 2rem auto; }
    #index-wrapper header .tag-line h2 {
      font-family: "Open Sans", sans-serif;
      font-weight: normal; }
#index-wrapper .service-section .panel {
  color: white; }
  #index-wrapper .service-section .panel .panel-link {
    border-radius: 20px;
    background-color: red; }
    #index-wrapper .service-section .panel .panel-link:hover {
      background-color: pink; }
  #index-wrapper .service-section .panel a {
    display: block;
    color: black;
    font-family: "Open Sans", sans-serif; }
  #index-wrapper .service-section .panel h3 {
    font-weight: 900; }
#index-wrapper .service-section .panel-1 {
  background-image: url("../../img/homepage/projects.jpg");
  background-size: cover;
  background-repeat: no-repeat; }
#index-wrapper .service-section .panel-2 {
  background-image: url("../../img/homepage/blog.jpg");
  background-size: cover;
  background-repeat: no-repeat; }
#index-wrapper .service-section .panel-3 {
  background-image: url("../../img/homepage/tutorials.jpg");
  background-size: cover;
  background-repeat: no-repeat; }
#index-wrapper .about-wrapper {
  background-color: white; }
  #index-wrapper .about-wrapper .about-content {
    width: 85%;
    margin: auto; }
    #index-wrapper .about-wrapper .about-content h2 {
      font-family: "Open Sans", sans-serif;
      color: grey;
      font-weight: 400; }
  #index-wrapper .about-wrapper .img {
    border-radius: 360px;
    border: 1px solid grey;
    overflow: hidden; }
    #index-wrapper .about-wrapper .img img {
      width: inherit;
      height: inherit;
      display: block;
      height: auto; }
  #index-wrapper .about-wrapper .description h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: normal; }
  #index-wrapper .about-wrapper .description p {
    color: grey; }
  #index-wrapper .about-wrapper .subscribe {
    font-family: "Open Sans", sans-serif; }
    #index-wrapper .about-wrapper .subscribe h4 {
      color: red;
      font-weight: normal; }
    #index-wrapper .about-wrapper .subscribe p {
      color: red;
      line-height: 2.2rem;
      font-family: "Roboto Slab", serif; }
    #index-wrapper .about-wrapper .subscribe input:not([type="submit"]) {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px; }
    #index-wrapper .about-wrapper .subscribe input[type="submit"] {
      background-color: red;
      color: white;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px; }
    #index-wrapper .about-wrapper .subscribe .validation-wrapper {
      margin-top: 1rem;
      height: 2rem;
      color: crimson; }
#index-wrapper .social-media-wrapper {
  border-top: 2px solid grey;
  background-color: black; }
  #index-wrapper .social-media-wrapper a {
    color: white; }

@media screen and (max-width: 440px) {
  #index-wrapper header h1 {
    padding-top: 35vh;
    font-size: 6.5rem; }
  #index-wrapper header .tag-line {
    padding: 13px 5px; }
    #index-wrapper header .tag-line h2 {
      font-size: 2.2rem; }
  #index-wrapper .service-section {
    height: 100vh; }
    #index-wrapper .service-section .panel {
      height: 33.33vh;
      padding-top: 2rem; }
      #index-wrapper .service-section .panel .panel-content {
        margin: auto;
        width: 80%; }
      #index-wrapper .service-section .panel .panel-link {
        margin: 4rem auto; }
      #index-wrapper .service-section .panel a {
        padding: 13px 0px;
        font-size: 2.2rem; }
      #index-wrapper .service-section .panel p {
        line-height: 2.2rem; }
      #index-wrapper .service-section .panel h3 {
        font-size: 2.2rem; }
  #index-wrapper .about-wrapper {
    height: 100vh;
    padding-top: 3rem; }
    #index-wrapper .about-wrapper .about-content h2 {
      font-size: 3.2rem; }
    #index-wrapper .about-wrapper .img {
      width: 20rem;
      height: 20rem;
      margin: 2rem auto; }
    #index-wrapper .about-wrapper .description p {
      margin-top: 1rem;
      font-size: 1.6rem;
      line-height: 2.2rem; }
    #index-wrapper .about-wrapper .subscribe {
      margin-top: 3rem; }
      #index-wrapper .about-wrapper .subscribe form {
        padding-top: 1rem; }
      #index-wrapper .about-wrapper .subscribe input:not([type="submit"]) {
        padding: 5px; }
      #index-wrapper .about-wrapper .subscribe input[type="submit"] {
        padding: 5px;
        position: relative;
        left: -7px; }
  #index-wrapper .social-media-wrapper {
    padding: 1.6rem; }
    #index-wrapper .social-media-wrapper a {
      padding: 1rem; } }
@media screen and (min-width: 1280px) {
  #index-wrapper header h1 {
    padding-top: 30vh;
    font-size: 14rem; }
  #index-wrapper header .tag-line {
    padding: 2rem; }
    #index-wrapper header .tag-line h2 {
      font-size: 4.2rem; }
  #index-wrapper .service-section {
    width: 85%;
    margin: auto;
    display: flex;
    position: relative;
    top: -9rem; }
    #index-wrapper .service-section .panel {
      flex: 1;
      border: 2px solid black; }
    #index-wrapper .service-section .panel-content h3 {
      padding-top: 2.2rem;
      font-size: 3.2rem;
      height: 9rem;
      background-color: grey;
      text-align: center;
      border-bottom: 2px solid black;
      box-shadow: 1px 0px 6px black; }
    #index-wrapper .service-section .panel-content .panel-info {
      padding: 8rem 1rem;
      width: 90%;
      margin: auto; }
      #index-wrapper .service-section .panel-content .panel-info p {
        font-size: 2.6rem;
        height: 10rem; }
      #index-wrapper .service-section .panel-content .panel-info a {
        margin-top: 2rem;
        font-size: 2.6rem;
        padding: 2rem 0rem; }
    #index-wrapper .service-section .panel-2 {
      margin: 0 2%; }
  #index-wrapper .about-wrapper {
    margin-top: -4rem; }
    #index-wrapper .about-wrapper .about-content {
      border-right: 0.6rem solid red; }
      #index-wrapper .about-wrapper .about-content h2 {
        text-align: left;
        margin-bottom: 3.5rem;
        font-size: 5.5rem;
        width: 30rem;
        letter-spacing: 0.5rem;
        text-align: center; }
    #index-wrapper .about-wrapper .img {
      width: 30rem;
      height: 30rem; }
    #index-wrapper .about-wrapper .parent {
      display: flex; }
    #index-wrapper .about-wrapper .child-1 {
      flex: 1; }
    #index-wrapper .about-wrapper .child-2 {
      flex: 3; }
    #index-wrapper .about-wrapper .description {
      margin: 0 20rem; }
      #index-wrapper .about-wrapper .description h3 {
        font-size: 4.2rem; }
      #index-wrapper .about-wrapper .description p {
        margin-top: 2.5rem;
        font-size: 2.6rem; }
    #index-wrapper .about-wrapper .subscribe {
      margin-top: 5rem;
      text-align: left;
      background-color: black;
      padding: 6rem 0; }
      #index-wrapper .about-wrapper .subscribe h4 {
        font-size: 3.2rem;
        margin-bottom: 1rem; }
      #index-wrapper .about-wrapper .subscribe p {
        color: grey;
        font-size: 2.6rem;
        margin-bottom: 2rem; }
      #index-wrapper .about-wrapper .subscribe input[type="text"] {
        width: 30%; }
      #index-wrapper .about-wrapper .subscribe input {
        font-size: 2.2rem;
        padding: 1rem; }
    #index-wrapper .about-wrapper .validation-wrapper {
      font-size: 2.2rem; }
    #index-wrapper .about-wrapper .subscribe-content {
      width: 90%;
      margin: auto; }
  #index-wrapper .social-media-wrapper {
    padding: 3rem 0rem;
    background-color: white; }
    #index-wrapper .social-media-wrapper a {
      color: black;
      padding: 1rem;
      margin: 0 3rem; } }
#blog-wrapper header {
  height: 50vh;
  background-image: url("../../img/blogs/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat; }
  #blog-wrapper header .header-content {
    color: white;
    padding-top: 20vh; }
    #blog-wrapper header .header-content h1 {
      font-family: "Open Sans", sans-serif;
      font-weight: 900; }
#blog-wrapper .blog-list {
  padding-top: 3rem;
  width: 85%;
  margin: 1rem auto; }
  #blog-wrapper .blog-list form {
    margin-bottom: 3rem; }
  #blog-wrapper .blog-list input[type="text"] {
    border-top-left-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem; }
  #blog-wrapper .blog-list #submit {
    border-top-right-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
    background-color: red; }
  #blog-wrapper .blog-list .blog-panel {
    display: flex;
    border: 1px solid grey;
    margin-bottom: 2rem;
    overflow: hidden; }
    #blog-wrapper .blog-list .blog-panel h3 {
      font-family: "Roboto Slab", serif;
      color: red; }
    #blog-wrapper .blog-list .blog-panel p {
      color: black; }
  #blog-wrapper .blog-list .flex-1 {
    background-color: black;
    border-right: 2px solid grey; }
    #blog-wrapper .blog-list .flex-1 img {
      width: 100%;
      height: 100%; }
  #blog-wrapper .blog-list .flex-2 {
    background-color: lightgray; }
#blog-wrapper .pagination a {
  color: red; }
#blog-wrapper input[type="checkbox"] {
  margin-top: 2rem; }
#blog-wrapper .error {
  margin-top: 2rem; }

@media screen and (max-width: 440px) {
  #blog-wrapper header h1 {
    font-size: 3.2rem; }
  #blog-wrapper header span {
    font-size: 1.6rem; }

  .blog-list .blog-panel {
    height: 13rem; }
    .blog-list .blog-panel h3 {
      margin-bottom: 0.5rem; }
    .blog-list .blog-panel p {
      line-height: 2.2rem; }
  .blog-list .flex-1 {
    flex: 2; }
  .blog-list .flex-2 {
    padding: 0.5rem;
    flex: 3; }

  .pagination a {
    padding: 0.5rem; } }
@media screen and (min-width: 1280px) {
  #blog-wrapper header h1 {
    font-size: 5.5rem;
    margin-bottom: 2rem; }
  #blog-wrapper header span {
    font-size: 3.2rem; }
  #blog-wrapper .blog-list form {
    text-align: left; }
    #blog-wrapper .blog-list form input {
      padding: 0.7rem; }
    #blog-wrapper .blog-list form input[type="text"] {
      width: 30rem; }
  #blog-wrapper .blog-list .blog-panel {
    height: 30rem;
    transition: transform 0.2s; }
    #blog-wrapper .blog-list .blog-panel h3 {
      font-size: 3.2rem;
      margin-bottom: 1.5rem; }
    #blog-wrapper .blog-list .blog-panel p {
      font-size: 2.6rem;
      line-height: 3.2rem; }
    #blog-wrapper .blog-list .blog-panel:hover {
      transform: scale(1.015);
      box-shadow: 2px 3px 7px grey;
      transition: transform 0.2s; }
  #blog-wrapper .blog-list .flex-1 {
    flex: 2; }
  #blog-wrapper .blog-list .flex-2 {
    padding: 2rem;
    flex: 5; }
  #blog-wrapper .pagination {
    font-size: 2.6rem; }
    #blog-wrapper .pagination a {
      padding: 1rem; } }
#tutorials-wrapper header {
  height: 50vh;
  background-image: url("../../img/tutorials/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 2px solid grey; }
  #tutorials-wrapper header .header-content {
    padding-top: 20vh;
    color: white; }
    #tutorials-wrapper header .header-content h1 {
      font-family: "Open Sans", sans-serif;
      font-weight: 900; }
#tutorials-wrapper .categories {
  height: 50vh; }
  #tutorials-wrapper .categories .categories-panel {
    background-color: black;
    border-bottom: 2px solid grey; }
    #tutorials-wrapper .categories .categories-panel a {
      display: block;
      width: 100%;
      height: 100%; }
    #tutorials-wrapper .categories .categories-panel h2 {
      color: red; }
    #tutorials-wrapper .categories .categories-panel span {
      color: white; }
    #tutorials-wrapper .categories .categories-panel:hover {
      opacity: 0.9; }

@media screen and (max-width: 440px) {
  #tutorials-wrapper header h1 {
    font-size: 3.2rem; }
  #tutorials-wrapper .categories-panel {
    height: 25vh; }
    #tutorials-wrapper .categories-panel h2 {
      padding-top: 8vh; } }
@media screen and (min-width: 1280px) {
  #tutorials-wrapper header h1 {
    font-size: 5.5rem;
    margin-bottom: 2rem; }
  #tutorials-wrapper .categories {
    display: flex; }
  #tutorials-wrapper .categories-panel {
    flex: 1; }
    #tutorials-wrapper .categories-panel h2 {
      font-size: 4.2rem;
      padding-top: 18vh;
      margin-bottom: 2rem;
      transition: font-size 0.4s; }
    #tutorials-wrapper .categories-panel span {
      font-size: 2.6rem; }
    #tutorials-wrapper .categories-panel:hover h2 {
      font-size: 5.5rem;
      transition: font-size 0.4s; }
  #tutorials-wrapper .panel-2 {
    border-left: 2px solid grey; } }
#projects-wrapper header {
  height: 50vh;
  background-image: url("../../img/projects/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat; }
  #projects-wrapper header .header-content {
    padding-top: 20vh;
    color: white; }
    #projects-wrapper header .header-content h1 {
      font-family: "Open Sans", sans-serif;
      font-weight: 900; }
#projects-wrapper .projects {
  width: 85%;
  margin: 2rem auto; }
#projects-wrapper .projects-container {
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap; }
#projects-wrapper .projects-panel {
  border: 1px solid grey;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }
  #projects-wrapper .projects-panel h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 900;
    color: white; }
  #projects-wrapper .projects-panel a {
    position: absolute;
    left: 10%;
    width: 80%;
    border-radius: 1.6rem;
    border: 1px solid grey;
    background-color: red;
    color: white; }
    #projects-wrapper .projects-panel a:hover {
      background-color: pink; }
  #projects-wrapper .projects-panel input[type="checkbox"] {
    position: absolute;
    top: 1rem;
    left: 1rem;
    transform: scale(1.2); }

@media screen and (max-width: 440px) {
  header .header-content h1 {
    font-size: 3.2rem; }

  .projects-panel {
    width: 46%;
    margin: 2%;
    padding: 3.2rem 1rem; }
    .projects-panel h3 {
      font-size: 1.4rem;
      margin-bottom: 0.5rem; }
    .projects-panel a {
      padding: 0.2rem;
      font-size: 1.4rem;
      bottom: 1rem; } }
@media screen and (min-width: 1280px) {
  header .header-content h1 {
    font-size: 5.5rem;
    margin-bottom: 2rem; }
  header .header-content span {
    font-size: 3.2rem; }

  .projects-panel {
    width: 22.5%;
    margin: 1.25%;
    padding: 10rem 4rem 12rem; }
    .projects-panel h3 {
      font-size: 2.6rem;
      margin-bottom: 2rem; }
    .projects-panel a {
      font-size: 2.2rem;
      padding: 0.75rem;
      bottom: 2rem; } }
#blogpost-wrapper {
  width: 85%;
  margin: auto; }
  #blogpost-wrapper .blog-wrapper .header h1 {
    font-family: "Open Sans", sans-serif;
    color: black; }
  #blogpost-wrapper .blog-wrapper .image {
    border: 2px solid grey;
    width: 100%; }
    #blogpost-wrapper .blog-wrapper .image img {
      object-fit: cover;
      width: 100%;
      height: 100%; }
  #blogpost-wrapper .blog-wrapper .content {
    color: grey; }

@media screen and (max-width: 440px) {
  #blogpost-wrapper {
    padding-top: 9rem; }
    #blogpost-wrapper .blog-wrapper .header {
      margin-bottom: 2rem; }
      #blogpost-wrapper .blog-wrapper .header h1 {
        font-size: 3.2rem; }
    #blogpost-wrapper .blog-wrapper .image {
      margin-bottom: 2rem;
      height: 25rem; }
    #blogpost-wrapper .blog-wrapper .content .intro {
      margin-bottom: 1rem;
      font-size: 2.2rem; } }
@media screen and (min-width: 1280px) {
  #blogpost-wrapper {
    padding-top: 17rem; }
    #blogpost-wrapper .blog-wrapper .header {
      margin-bottom: 3rem; }
      #blogpost-wrapper .blog-wrapper .header h1 {
        font-size: 5.5rem; }
    #blogpost-wrapper .blog-wrapper .image {
      margin-bottom: 3rem;
      height: 40rem; }
    #blogpost-wrapper .blog-wrapper .content {
      font-size: 2.6rem; }
      #blogpost-wrapper .blog-wrapper .content .intro {
        font-size: 3.2rem;
        margin-bottom: 1.5rem; } }
#project-wrapper {
  width: 85%;
  margin: auto; }
  #project-wrapper .project-header h1 {
    font-family: "Open Sans", sans-serif;
    color: black; }
  #project-wrapper .image {
    width: 100%;
    border: 2px solid grey; }
    #project-wrapper .image img {
      width: 100%;
      height: 100%; }
  #project-wrapper .project-content h3 {
    font-family: "Open Sans", sans-serif;
    color: red; }
  #project-wrapper .project-content p {
    color: grey; }
  #project-wrapper .project-btn {
    margin-top: 4rem;
    background-color: white;
    border: 1px solid red;
    margin-bottom: 3rem;
    border-radius: 1.5rem;
    box-shadow: 1px 3px 12px grey; }
    #project-wrapper .project-btn a {
      font-family: "Open Sans", sans-serif;
      color: red;
      font-weight: 900;
      display: block; }
    #project-wrapper .project-btn:hover {
      box-shadow: 0px 0px 4px grey; }

@media screen and (max-width: 440px) {
  #project-wrapper {
    padding-top: 9rem; }
    #project-wrapper h1 {
      font-size: 3.2rem;
      margin-bottom: 1rem; }
    #project-wrapper .image {
      height: 25rem;
      margin-bottom: 3rem; }
    #project-wrapper .project-content h3 {
      font-size: 2.2rem; }
    #project-wrapper .project-content p {
      margin-bottom: 2rem; }
    #project-wrapper .project-btn a {
      padding: 1rem;
      font-size: 2.2rem; } }
@media screen and (min-width: 1280px) {
  #project-wrapper {
    padding-top: 12rem; }
    #project-wrapper h1 {
      font-size: 5.5rem;
      margin-bottom: 2rem; }
    #project-wrapper .image {
      height: 50rem;
      margin-bottom: 3rem; }
    #project-wrapper .project-content h3 {
      font-size: 3.2rem; }
    #project-wrapper .project-content p {
      font-size: 2.6rem;
      margin-bottom: 4rem; }
    #project-wrapper .project-btn a {
      padding: 3rem;
      font-size: 3.2rem; } }
.tutorial_template_wrapper {
  margin: auto;
  text-align: center; }
  .tutorial_template_wrapper .featured_video_title {
    color: red;
    font-family: "Open Sans", sans-serif; }
  .tutorial_template_wrapper .video_list_wrapper {
    box-shadow: 1px 1px 3px grey;
    background-color: #e3e7ed;
    text-align: left;
    overflow: scroll; }
  .tutorial_template_wrapper .video_title {
    border-bottom: 1px solid black;
    padding: 2rem 0rem 1rem;
    transition: padding 0.15s; }
    .tutorial_template_wrapper .video_title:hover {
      padding-left: 2rem;
      opacity: 0.7; }
  .tutorial_template_wrapper iframe {
    height: 720px;
    width: 1280px;
    max-width: 100%;
    max-height: 100%; }
  .tutorial_template_wrapper .active {
    font-weight: 900; }

@media screen and (max-width: 440px) {
  .tutorial_template_wrapper {
    padding-top: 10vh; }
    .tutorial_template_wrapper .video_list_wrapper {
      margin-top: 8vh;
      height: 32vh;
      font-size: 11px;
      padding: 1.5rem; }
    .tutorial_template_wrapper .featured_video_wrapper {
      height: 50vh; }
    .tutorial_template_wrapper .featured_video_title {
      font-size: 13px; } }
@media screen and (min-width: 1280px) {
  .tutorial_template_wrapper {
    padding-top: 12rem;
    width: 85%; }
    .tutorial_template_wrapper .content-wrapper {
      display: flex; }
    .tutorial_template_wrapper .featured_video_wrapper {
      flex: 6; }
    .tutorial_template_wrapper .video_list_wrapper {
      flex: 2;
      padding: 5rem;
      margin-left: 1rem;
      height: 720px; }
    .tutorial_template_wrapper .featured_video_title {
      font-size: 2.6rem;
      letter-spacing: 0.5rem; } }
#login-wrapper {
  padding-top: 35vh;
  width: 85%;
  margin: auto; }
  #login-wrapper .login-form {
    border: 2px solid grey; }
  #login-wrapper .form-group {
    display: flex; }
    #login-wrapper .form-group input {
      flex: 1;
      border-radius: 5px; }
  #login-wrapper input[type="submit"] {
    background-color: red;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 900; }

@media screen and (max-width: 440px) {
  #login-wrapper input {
    padding: 0.5rem; }
  #login-wrapper input[type="submit"] {
    font-size: 2.2rem; } }
@media screen and (min-width: 1280px) {
  #login-wrapper input {
    padding: 1rem;
    font-size: 2.6rem; }
  #login-wrapper input[type="submit"] {
    font-size: 3.2rem; }
  #login-wrapper .form-group {
    margin: 2rem 1rem; } }

/*# sourceMappingURL=app.css.map */
