<div id="blog-wrapper">

    <!--header-->
    <header>
        <div class="header-content text-center">
            <h1>BLOGS</h1>
            <span>my story | tips &amp; tricks | life</span>
        </div>
    </header> <!--end of header-->


    <!--blog list-->
    <div class="blog-list">

        <?php
        if(isset($blogs) && $blogs){
            echo '<form action="blogs.php" method="POST" class="text-center">
                    <input type="text" name="search" id="search" placeholder="search blogs..."
                    /><input type="submit" name="submit" id="submit" value="&#x1F50D;" />
                </form>';    
        }
        
        ?>



        <?php
        
        if($logged_in){
            echo "<a href='create.php?type=blog' class='btn btn-create'>Create Blog</a>";
        }

        ?>

        <!--php data from blogs.php added in below-->
        <?php

        echo "<form action='delete.php?type=blog' name='delete_form' method='POST'>";
        
        if(isset($blogs) && $blogs){

            while($blog = $stmt->fetch()){
                $title = strtoupper($blog->get_title());
                $preview = $blog->blog_preview();
                $image_path = './img/blogs/' .$blog->get_image_path(); 
                $created_at = $blog->get_created_at();
                $input = $logged_in?"<input type='checkbox' class='check' name='check[]' value='".$blog->get_blog_id()."'/>" : "";
    
                echo "
                $input
                <a href='blogpost.php?id=".$blog->get_blog_id()."'>
                    <div class='blog-panel'>
                        <div class='flex-1'>
                            <img src=$image_path />  
                        </div>
                        <div class='flex-2'>
                            <h3>$title</h3>
                            <p>$preview</p>
                        </div>
                    </div>
                </a>
                
                ";
            }

            echo "<p>
                    <label for='selectall'>Select All</label>
                    <input type='checkbox' name='selectall' />
                </p>";
    
            echo "<input type='submit' name='delete' value='Delete' class='btn btn-delete' />
            </form>";
        }
        

        if(isset($error)){
            echo "<p class='error'>$error</p>";
        }

        //pagination
        //only show pagination if page accessed via get request

        if(isset($pagination)){ //flag var set in post conditional in blogs.php
            $next_page = $page_number + 1;
            $prev_page = $page_number - 1;
            $next_start = $start + $total_per_page;
            $prev_start = $start - $total_per_page;
            
            //only show previous page if page number is 2 or greater
            echo "<div class='pagination text-center'>";
            if($page_number > 1){
                echo "<a href='./blogs.php?page=" . $prev_page ."&s=" . $prev_start ."'>&lt;</a>";
            }

            //display page numbers if total_pages is greater than 1
            if($total_pages > 1){
                for($i = 1; $i<=$total_pages; $i++){
                    $start = $i * $total_per_page - $total_per_page; //set the s(tart) variable in the url to the first blog to display on that page
    
                    echo "<a href='./blogs.php?page=" . $i ."&s=" . $start ."'>$i</a>";
                }
            }
            

            //only show next page if there is one
            if($page_number < $total_pages){
                echo "<a href='./blogs.php?page=" . $next_page ."&s=" . $next_start ."'>&gt;</a>";
            }
            echo "</div>";
        }

        
    
        ?>



    </div> <!--end of blog list-->


</div>

<script>posts();</script>