<div id="blogpost-wrapper">


    <div class="blog-wrapper">

        <?php
        if($logged_in){
            echo "<a href='edit.php?id=$blog->blog_id&type=blog'>Edit Blog</a>";
            echo "<a href='delete.php?id=$blog->blog_id&type=blog'>Delete Blog</a>";
        }
        ?>

        <div class="header">
            <h1><?php echo strtoupper($blog->title); ?></h1>
        </div><!--end of header-->

        <div class="image">
            <img src='./img/blogs/<?php echo $blog->image_path ?>' />
        </div>

        <div class="content text-center">
            <?php echo $blog->body; ?>
        </div>

    </div><!--end of blog-wrapper-->


</div><!--end of blogpost-wrapper-->