<div class='crud-wrapper'>

    <header>
        <h1><?php echo 'Edit ' . ucfirst($type); ?></h1>
    </header>

    <div class='form-wrapper'>
        <?php
        //display blog form if type is blog
        if($type == 'blog'){
            echo "<h2>$blog->title</h2>";

            echo "<form action='update.php?type=blog&id=$blog->blog_id' method='POST' enctype='multipart/form-data'>

                    <div class='form-group'>
                        <label for='title'>Title</label>
                        <input type='text' name='title' value='$blog->title' />
                    </div>

                    <div class='form-group'>
                        <label for='body'>Body</label>
                        <textarea name='body'>$blog->body</textarea>
                    </div>

                    <div class='form-group'>
                        <label for='file'>File</label>
                        <input type='file' name='file' />            
                    </div>

                    <div class='form-group'>
                        <input type='submit' name='update' value='Save Changes' />
                    </div>
                </form>
                ";


        }else if($type == 'project'){ //display project form if type is project
            echo "<h1>$project->title</h1>";

            echo "<form action='update.php?type=project&id=$project->project_id' method='POST' enctype='multipart/form-data'/>
                        <div class='form-group'>
                            <label for='title'>Title</label>
                            <input type='text' name='title' value='$project->title'/>        
                        </div>

                        <div class='form-group'>
                            <label for='aims'>Aims</label>
                            <textarea name='aims'>$project->aims</textarea>
                        </div>

                        <div class='form-group'>
                            <label for='process'>Process</label>
                            <textarea name='process'>$project->process</textarea>        
                        </div>

                        <div class='form-group'>
                            <label for='outcome'>Outcome</label>
                            <textarea name='outcome'>$project->outcome</textarea>
                        </div>

                        <div class='form-group'>
                            <label for='link'>Link</label>
                            <input type='text' name='link' value='$project->link'/>
                        </div>

                        <div class='form-group'>
                            <label for='file'>File</label>
                            <input type='file' name='file'/>
                        </div>
                        <div class='form-group'>
                            <input type='submit' name='update' value='Save Changes'/>
                        </div>
                    </form>
                ";
        }

        ?>

    </div> <!--end of form wrapper-->

</div>