<div class='crud-wrapper'>

    <header>
        <h1><?php echo 'Edit ' . ucfirst($type); ?></h1>
    </header>

    <div class='form-wrapper'>
        <?php
        //display blog form if type is blog
        if($type == 'blog'){
            echo "<h2>$blog->title</h2>";

            echo "<form action='update.php?type=blog&id=$blog->blog_id' method='POST' enctype='multipart/form-data'>

                    <div class='form-group'>
                        <label>Title</label>
                        <input type='text' name='title' value='$blog->title' />
                    </div>

                    <div class='form-group'>
                        <label>Body</label>
                        <textarea>$blog->body</textarea>
                    </div>

                    <div class='form-group'>
                        <label>File</label>
                        <input type='file' name='file' />            
                    </div>

                    <div class='form-group'>
                        <input type='submit' name='update' value='Save Changes' />
                    </div>
                </form>
                ";


        }else if($type == 'project'){ //display project form if type is project
            echo "<h1>$project->title</h1>";

            echo "<form action='update.php?type=project&id=$project->project_id>' method='POST' enctype='multipart/form-data'/>
                        <div class='form-group'>
                            <label>Title</label>
                            <input type='text' name='title' value='$project->title'/>        
                        </div>

                        <div class='form-group'>
                            <label>Aims</label>
                            <textarea>$project->aims</textarea>
                        </div>

                        <div class='form-group'>
                            <label>Process</label>
                            <textarea>$project->process</textarea>        
                        </div>

                        <div class='form-group'>
                            <label>Outcome</label>
                            <textarea>$project->outcome</textarea>
                        </div>

                        <div class='form-group'>
                            <label>Link</label>
                            <input type='text' name='link' value='$project->link'/>
                        </div>

                        <div class='form-group'>
                            <label>File</label>
                            <input type='file' name='file'/>
                        </div>
                        <div class='form-group'>
                            <input type='submit' name='update' value='Save Changes'/>
                        </div>
                    </form>
                ";
        }

        ?>

    </div> <!--end of form wrapper-->

</div>