<div id="error_page_wrapper">

    <header>
        <h1>Error!</h1>
    </header>

    <div class="error-content">
        <p><?php echo $error->getMessage(); ?></p>
    </div>

    <!--user navigation links-->
    <div class='helpful_links'>
        <h3>Helpful links...</h3>

        <a href='./'>Home</a>
        <a href='./projects.php'>Projects</a>
        <a href='./blogs.php?page=1&s=0'>Blogs</a>
        <a href='./tutorials.php'>Tutorials</a>

    </div><!--end of helpful links-->


</div>