<div id="index-wrapper">

    <!--header-->
    <header>

        <h1 class="text-center">&lt;REZA /&gt;</h1>

        <div class="tag-line">
            <h2 class="text-center">FULL STACK DEVELOPER</h2>
        </div>

    </header><!--end of header-->




    <!--services section-->
    <div class="service-section">

        <!--service panel-->
        <div class="panel panel-1">
            <div class="panel-content">
                <h3>PROJECTS</h3>
                <div class="panel-info">
                    <p>check out some of the cool projects I have made!</p>
                    <div class="text-center panel-link">
                        <a href="projects.php">PROJECTS</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-2">
            <div class="panel-content">

                <h3>BLOGS</h3>
                <div class="panel-info">
                    <p>read the story so far and pick up on some neat tips &amp; tricks along the way!</p>
                    <div class="text-center panel-link">
                        <a href="/rezaa/public/blogs.php?page=1&s=0">BLOGS</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-3">
            <div class="panel-content">
                <h3>TUTORIALS</h3>
                <div class="panel-info">
                    <p>want to learn code? start with some of these beginner courses!</p>
                    <div class="text-center panel-link">
                        <a href="tutorials.php">TUTORIALS</a>
                    </div>
                </div>
            </div>
        </div>

    </div><!--end of service section-->





    <!--about section-->
    <div class="about-wrapper text-center">
        <div class="about-content">
            <h2>ABOUT</h2>
            <div class="parent">
                <div class="child-1">
                    <div class="img">
                        <img src="../public/img/homepage/profile_pic.png"/>
                    </div>
                </div>
                
                <div class="child-2">
                    <!--about description-->
                    <div class="description">
                        <h3>&lt;h1&gt;Hello, world&lt;/h1&gt;</h3>
                        <p>
                            Thanks for stopping by!<br />
                            My name is Rezaa, I am a self-taught web developer who likes to blog, share my projects and provide tutorials all from the same platform.
                        </p>
                    </div><!--end of about description-->
                </div>
            </div>
        </div><!--end of about content-->

        <!--subscribe to newsletter-->
        <div class="subscribe">
            <div class="subscribe-content">
                <h4>SUBSCRIBE</h4>
                <p>for regular newsletters &amp; updates</p>
                
                <!--newsletter subscription form-->
                <form action="index.php" method="POST">
                    <input type="text" name="email" id="email" placeholder="email..."
                    /><input type="submit" name="submit" id="submit" value="&#10003;"/>
                </form><!--end of newsletter subscription form-->
                <div class="validation-wrapper"></div>
            </div><!--end of subscribe content-->
        </div><!--end of newsletter subscription article-->
        
    </div><!--end of about section-->





    <!--social media links-->
    <div class="social-media-wrapper text-center">

        <span><a href="#">FB</a></span>
        <span><a href="#">Twit</a></span>
        <span><a href="#">Insta</a></span>


    </div><!--end of social media wrapper-->

</div>

<!--run page specific javascript-->
<script>index();</script>
