<div id="projects-wrapper">

    <!--header-->
    <header>
        <div class="header-content text-center">
            <h1>PROJECTS</h1>
            <span>view a sample of my recent work</span>
        </div>
    </header><!--end of header-->


    <!--projects container-->
    <div class="projects-container text-center">

        <?php
        
        if(isset($projects) && $projects){

            while($project = $result->fetch()){

                $style = "background-image:url('./img/projects/$project->image_path');";

                //display all projects in database
                $title = strtoupper($project->title);
                echo "
                <div class='projects-panel' style=$style>
                    <h3>$title</h3>
                    <a href='./project.php?id=" . $project->project_id . "'>VIEW</a>
                </div>";
            }

        }else{
            if(isset($error)){
                echo '<div class="error">' . $error . '</div>';
            }
        }
        
        ?>

               


    </div><!--end of projects container-->

</div>