<div id="projects-wrapper">

    <!--header-->
    <header>
        <div class="header-content text-center">
            <h1>PROJECTS</h1>
            <span>view a sample of my recent work</span>
        </div>
    </header><!--end of header-->




    <div class="projects">
        <?php
        if($logged_in){
            echo '<a href="create.php?type=project" class="btn btn-create">Create Project</a>';
            echo "<form action='delete.php?type=project' method='POST'>";
        }
        ?>
        
        <!--projects container-->
        <div class="projects-container text-center">

            <?php
            
            if(isset($projects) && $projects){
                while($project = $result->fetch()){

                    $style = "background-image:url('./img/projects/$project->image_path');";
                    $input = $logged_in?"<input type='checkbox' name='check[]' value='$project->project_id'/>" : "";

                    //display all projects in database
                    $title = strtoupper($project->title);
                    echo "
                    <div class='projects-panel' style=$style>
                        $input
                        <h3>$title</h3>
                        <a href='./project.php?id=" . $project->project_id . "'>VIEW</a>
                    </div>";
                }
                if($logged_in){
                    //close project container and display delete button
                    echo "</div>\n
                    <div><input type='submit' name='delete' value='Delete' class='btn btn-delete' /></form></div>";
                }
            }else{
                if(isset($error)){
                    echo '<div class="error">' . $error . '</div>';
                }
            }
            
            ?>

    </div><!--end of projects-->


</div>