<div id="projects-wrapper">

    <!--header-->
    <header>
        <div class="header-content text-center">
            <h1>PROJECTS</h1>
            <span>view a sample of my recent work</span>
        </div>
    </header><!--end of header-->


    <!--projects container-->
    <div class="projects-container text-center">

        <div class="projects-panel">
            <h3>PROJECT NAME</h3>
            <a href="#">VIEW</a>
        </div><!--end of projects panel-->


        <div class="projects-panel">
            <h3>PROJECT NAME</h3>
            <a href="#">VIEW</a>
        </div><!--end of projects panel-->


        <div class="projects-panel">
            <h3>PROJECT NAME</h3>
            <a href="#">VIEW</a>
        </div><!--end of projects panel-->


        <div class="projects-panel">
            <h3>PROJECT NAME</h3>
            <a href="#">VIEW</a>
        </div><!--end of projects panel-->


        <div class="projects-panel">
            <h3>PROJECT NAME</h3>
            <a href="#">VIEW</a>
        </div><!--end of projects panel-->


        <div class="projects-panel">
            <h3>PROJECT NAME</h3>
            <a href="#">VIEW</a>
        </div><!--end of projects panel-->
        


    </div><!--end of projects container-->

</div>