<div id="tutorials-wrapper">

    <!--header-->
    <header>
        <div class="header-content text-center gradient">
            <h1>TUTORIALS</h1>
            <span>improve your coding skills</span>
        </div>
    </header><!--end of header-->


    <!--tutorial categories-->
    <div class="categories">

        <!--HTML/CSS panel-->
        <div class="categories-panel text-center">
            <a href="tutorial.php?type=html">
                <h2>HTML/CSS</h2>
                <span>from beginner to expert</span>
            </a>
        </div><!--end of HTML/CSS panel-->

        <!--JS panel-->
        <div class="categories-panel text-center panel-2">
            <a href="tutorial.php?type=js">
                <h2>JAVASCRIPT</h2>
                <span>from beginner to expert</span>
            </a>
        </div><!--end of JS panel-->

    </div><!--end of categories-->

</div>