.btn{
    text-align: center;
    display: inline-block;
    border: 1px solid $black;
    border-radius: 5px;
    color: $white;
}

.btn-delete{
    background-color: $failure;
}

.btn-create{
    background-color: $success;
}

.btn-edit{
    background-color: $grey;
}


//MEDIA QUERIES
//mobile



//desktop
@media screen and(min-width: $desktop){
    .btn{
        width: 20rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}