.btn{
    text-align: center;
    display: inline-block;
    border: 1px solid $black;
    border-radius: 5px;
    color: $white;

    transition: opacity 0.3s;
}

.btn-delete{
    background-color: $failure;
}

.btn-create{
    background-color: $success;
}

.btn-edit{
    background-color: $grey;
}

.btn:hover{
    opacity:0.85;
}


//MEDIA QUERIES
//mobile
@media screen and(max-width: $mobile){
    .btn{
        padding: 1rem;
    }
}


//tablet and desktop
@media screen and(min-width: $mobile){
    .btn{
        width: 20rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}