<div id="project-wrapper">

    <div class="project-header">
        <h1>AX PHOTOGRAPHY</h1>
    </div>

    <div class="image">
        <img src="/rezaa/public/img/projects/sample.jpg" />
    </div>

    <div class="project-content">
        <h3>Aims</h3>
        <p></p>

        <h3>Process</h3>
        <p></p>

        <h3>Outcome</h3>
        <p></p>
    </div>

    <div class="project-btn text-center">
        <a href="https://axphotography.co.uk" target="_blank">VIEW</a>
    </div>

</div>