<div id="project-wrapper">

    <div class="project-header">
        <h1>FIRSTEP</h1>
    </div>

    <div class="image">
        <img src="/rezaa/public/img/projects/sample.jpg" />
    </div>

    <div class="project-content">
        <h3>Aims</h3>
        <p>The aim of of the Firstep project was to create my very first freelancing website to sell my developing services to small businesses and sole traders</p>

        <h3>Process</h3>
        <p>The project used vanilla OOP PHP and vanilla JavaScript, alongside HTML &amp; CSS. The design comes mainly from the CSS framework Twitter Bootstrap, and was created in the midst of my web development learning.</p>

        <h3>Outcome</h3>
        <p>A reasonable first attempt, however, I plan to revisit this website shortly to design a better overall look, with the hopes to increase my client-base.</p>
    </div>

    <div class="project-btn text-center">
        <a href="https://firstep.uk" target="_blank">VIEW</a>
    </div>

</div>