//global settings
.crud-wrapper{
    width: 85%;
    margin: auto;
    margin-bottom: 3rem;

    header{
        margin-bottom: 2rem;
    }

    input[type="submit"]{
        margin-top: 2rem;
    }

    .form-wrapper{
        h2{
            margin-bottom: 1rem;
        }
    }
}



//MEDIA QUERIES
//mobile
@media screen and(max-width: $mobile){

    .crud-wrapper{
        padding-top: 9rem;

        header{
            h1{
                font-size: $sub-header;
            }
        }
        .form-wrapper{
            h2{
                font-size: $lead;
            }
        }
    }

}//end of mobile



//tablet
@media screen and(min-width: $mobile){
    .crud-wrapper{
        padding-top: 10.5rem;

        header{
            h1{
                font-size: $header;
            }
        }
        .form-wrapper{
            h2{
                font-size: $sub-header;
            }
        }

    }
}



//desktop
@media screen and(min-width: $tablet){
    .crud-wrapper{
        padding-top: 12rem;

        header{
            h1{
                font-size: $desktop-sub-header;
            }
        }
        .form-wrapper{
            h2{
                font-size: $desktop-lead;
            }
        }
    }

}//end of desktop