//global settings
#blog-wrapper{

    header{
        height: 50vh;
        background-image: url('../../img/content/banner_blog.jpg');
        background-size: cover;
        background-repeat: no-repeat;

        .header-content{
            color: $white;
            padding-top: 20vh;

            h1{
                font-family: $sans-serif;
                font-weight: 900;
            }
        }
    }


    .blog-list{
        padding-top: 0.3rem;
        width: 85%;
        margin:1rem auto;

        form{
            margin-bottom: 3rem;
        }

        input[type="text"]{
            border-top-left-radius: 0.7rem;
            border-bottom-left-radius: 0.7rem;
        }

        #submit{
            border-top-right-radius: 0.7rem;
            border-bottom-right-radius: 0.7rem;
            background-color: $primary-color;    
        }

        .blog-panel{
            display:flex;
            border:1px solid $grey;
            margin-bottom: 2rem;
            overflow: hidden;
            

            h3{
                font-family: $serif;
                color: $primary-color;
            }
            .preview{
                color: $black;
            }
            .date{
                color: $grey;
            }

        }

        .flex-1{
            background-color: $black;
            border-right: 2px solid $grey;
             
            img{
                width: 100%;
                height: 100%;
            }

        }
        .flex-2{
            background-color: lightgray;
        }
    }

    .pagination{
        a{
            color: $primary-color;
        }
    }

    input[type="checkbox"]{
        margin-top: 2rem;
    }
    .error{
        margin-top: 2rem;
    }

}




//MEDIA QUERIES
//mobile
@media screen and(max-width: $mobile){

    #blog-wrapper{
        header{
            h1{
                font-size: $header;
            }
            span{
                font-size: $regular;
            }
        }
    }

    .blog-list{
        .blog-panel{
            height: 13rem;
            position:relative;

            h3{
                margin-bottom: 0.2rem;
            }
            .preview{
                font-size: 12px;
                line-height: 2.2rem;
            }
            .date{
                font-size: 10px;
                position:absolute;
                bottom: 1rem;
            }

        }
        .flex-1{
            flex: 2;
        }
        .flex-2{
            padding:0.5rem;
            flex: 3;
        }
    }
    .pagination{
        a{
            padding:0.5rem;
        }
    }
    .error{
        font-size: $small;
    }

}//end of mobile






//desktop
@media screen and(min-width: $desktop){

    #blog-wrapper{
        header{
            h1{
                font-size: $desktop-header;
                margin-bottom: 2rem;
            }
            span{
                font-size: $desktop-lead;
            }
        }

        .blog-list{
            form{
                text-align:left;

                input{
                    padding:0.7rem;
                }

                input[type="text"]{
                    width: 30rem;
                }

            }

            .blog-panel{
                height: 30rem;
                transition: transform 0.2s;
                h3{
                    font-size:$desktop-lead;
                    margin-bottom: 1.5rem;
                }
                .preview{
                    font-size: $desktop-regular;
                    line-height: 3.2rem;
                }
                .date{
                    font-size: $desktop-small;
                    position:absolute;
                    bottom: 1rem;
                }
                &:hover{
                    transform: scale(1.015);
                    box-shadow: 2px 3px 7px $grey;
                    transition:
                        transform 0.2s;
                }

            }
            
            .flex-1{
                flex: 2;
            }
            .flex-2{
                padding: 2rem;
                flex: 5;
            }
        }
        .pagination{
            font-size: $desktop-regular;
            a{
                padding: 1rem;
            }
        }
    }

}//end of desktop