//global settings
#login-wrapper{

    padding-top: 35vh;
    width: 85%;
    margin: auto;

    .login-form{
        border: 2px solid $grey;
    }

    .form-group{
        display: flex;
        input{
            flex: 1;
            border-radius: 5px;
        }
    }

    input[type="submit"]{
        background-color: $primary-color;
        color: $white;
        font-family: $sans-serif;
        font-weight: 900;
    }

}//end of global settings



//MEDIA QUERIES

//mobile
@media screen and(max-width: $mobile){
    #login-wrapper{
        input{
            padding: 0.5rem;
        }
        input[type="submit"]{
            font-size: $lead;
        }
    }
}//end of mobile



//tablet
@media screen and(min-width: $mobile){
    #login-wrapper{
        input{
            padding: 1rem;
            font-size: $desktop-regular;
        }
        input[type="submit"]{
            font-size: $desktop-lead;
        }
        .form-group{
            margin: 2rem 1rem;
        }
    }
}




//desktop
@media screen and(min-width: $tablet){
    
}//end of desktop