//global settings
#project-wrapper{
    width: 85%;
    margin:auto;

    .project-header{
        h1{
            font-family: $sans-serif;
            color: $black;
        }
    }

    .image{
        width: 100%;
        border: 2px solid $grey;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .project-content{
        h3{
            font-family: $sans-serif;
            color: $primary-color;
        }
        p{
            color: $grey;
        }
    }

    .project-btn{
        margin-top: 4rem;
        background-color: $white;
        border: 1px solid $primary-color;
        margin-bottom: 3rem;
        border-radius: 1.5rem;
        box-shadow: 1px 3px 12px $grey;
        a{
            font-family: $sans-serif;
            color: $primary-color;
            font-weight: 900;
            display: block;
        }
        &:hover{
            box-shadow:0px 0px 4px $grey;
        }
    }
} //end of global settings





//MEDIA QUERIES
//mobile
@media screen and(max-width: $mobile){

    #project-wrapper{
        padding-top: 9rem;
        h1{
            font-size: $header;
            margin-bottom: 1rem;
        }

        .image{
            height: 25rem;
            margin-bottom: 3rem;
        }

        .project-content{
            h3{
                font-size: $lead;
            }
            p{
                margin-bottom: 2rem;
            }
        }

        .project-btn{
            a{
                padding: 1rem;
                font-size: $lead;
            }
        }
    }

}//end of mobile




//tablet
@media screen and(min-width: $mobile){

    #project-wrapper{
        padding-top: 12rem;
        h1{
            font-size: $desktop-header;
            margin-bottom: 2rem;
        }
        .image{
            height: 40rem;
            margin-bottom: 3rem;
        }

        .project-content{
            h3{
                font-size: $desktop-lead;
            }
            p{
                font-size: $desktop-regular;
                margin-bottom: 4rem;
            }
        }

        .project-btn{
            a{
                padding: 3rem;
                font-size: $desktop-lead;
            }
        }
    }

}




//desktop
@media screen and(min-width: $tablet){

    

}//end of desktop